/* Copyright zodiac403@gmx.de
 ** This Source Code Form is subject to the terms of the Mozilla Public
 ** License, v. 2.0. If a copy of the MPL was not distributed with this
 ** file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 ** page
 **/

html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 5px;
}

.title {
  font-size: 1.25em;
  margin: 0.25em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/**
 ** tab
 **/

/* Style the tab */
.tab {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  display: flex;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  /* Allow buttons to grow and fill the container */
  flex-grow: 1;
  float: left;
  outline: none;
  padding: 0.8em 1.4em;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tab link class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  padding: 2px 0.8em;
  border: 1px solid #ccc;
  border-top: none;
}

/**
 ** epoch
 **/

div.section {
  margin: 0.5em 0;
}

label {
  font-size: .75em;
  color: rgba(0, 0, 0, .54);
  width: 80%;
}

input {
  width: 80%;
  text-align: right;
}

.result-value {
  font-weight: 600;
}

/**
 ** iso
 **/

input.digit-4 {
  width: 6.5ex;
}

input.digit-2 {
  width: 4ex;
}

.iso-input-section span {
  margin: 0 -2px;
}

.iso-input-section div {
  width: 50ex;
}
